body{
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.botones{
    display: flex;
    justify-content: flex-end;
    height: 2.5em;
    margin-top: 1em;
    margin-right: 1em;
    background-color: burlywood;
    
    
}
.espacioBotones{
    margin-right: 0.4em;
}